@import url("http://fonts.cdnfonts.com/css/futura-lt");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: inherit;
  list-style: none;
  font-family: "Futura LT", sans-serif;
  user-select: none;
  text-decoration: none;
  scrollbar-width: none;
  cursor: none;
}

::-webkit-scrollbar {
  display: none;
  width: 0;
}
